# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/goszakupcrm"

# NextAuth
AUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# goszakup API
GOSZAKUP_API_TOKEN=""

# Telegram Bot
TELEGRAM_BOT_TOKEN=""

# Email (Resend)
RESEND_API_KEY=""

# Claude API (Anthropic)
ANTHROPIC_API_KEY=""
